/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background-color: black;
}
a {
  text-decoration: none;
}
/* Create Variables */
:root {
  --primary-color: #0f0;
  --secondary-color: #00f;
}
/* use Variables */
h1 {
  color: var(--primary-color);
  text-shadow: 2px 2px var(--secondary-color);
}
.active {
  color: white;
}

h3 {
  margin: 10px;
  text-align: center;
  background-color: #4e5357;
  border-radius: 15px;
  padding: 0.45rem;
  color: white;
}
nav ul li {
  list-style: none;
  background-color: #d0215cbd;
  color: rgb(0, 0, 0);
  padding: 3px 10px;
  margin: 4px 10px;
  border-radius: 10px 10px 0px 0px;
  font-weight: 700;
  font-size: 1.2rem;
}
